 .centerCard {
  background: #4744c9;
  z-index: 20;
  border: 1px solid #e2e2e2;
}

.nonCenterCard:hover {
  background: #4744c9;
  transform: scale(1.1);
  z-index: 15;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.nonCenterCard:hover h3,
.nonCenterCard:hover p {
  color: #fff;
}

.centerCard :global(.slick-dots li),
.nonCenterCard :global(.slick-dots li) {
  width: 20px !important;
}

