.carouselRoot :global(.slick-slider) {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.carouselRoot :global(.slick-list) {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.carouselRoot :global(.slick-list:focus) {
  outline: none;
}

.carouselRoot :global(.slick-list.dragging) {
  cursor: pointer;
  cursor: hand;
}

.carouselRoot :global(.slick-track),
.carouselRoot :global(.slick-list) {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carouselRoot :global(.slick-track) {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carouselRoot :global(.slick-track:before),
.carouselRoot :global(.slick-track:after) {
  display: table;
  content: "";
}

.carouselRoot :global(.slick-track:after) {
  clear: both;
}

.carouselRoot :global(.slick-loading .slick-track) {
  visibility: hidden;
}

.carouselRoot :global(.slick-slide) {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.carouselRoot :global([dir="rtl"] .slick-slide) {
  float: right;
}

.carouselRoot :global(.slick-slide img) {
  display: block;
}

.carouselRoot :global(.slick-slide.slick-loading img) {
  display: none;
}

.carouselRoot :global(.slick-slide.dragging img) {
  pointer-events: none;
}

.carouselRoot :global(.slick-initialized .slick-slide) {
  display: block;
}

.carouselRoot :global(.slick-loading .slick-slide) {
  visibility: hidden;
}

.carouselRoot :global(.slick-vertical .slick-slide) {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.carouselRoot :global(.slick-arrow.slick-hidden) {
  display: none;
}

.carouselRoot :global(.slick-dotted.slick-slider) {
  margin-bottom: 30px;
}

.carouselRoot :global(.slick-dots) {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.carouselRoot :global(.slick-dots li) {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.carouselRoot :global(.slick-dots li button) {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.carouselRoot :global(.slick-dots li button:before) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  margin: 6px;
  border-radius: 9999px;
  background-color: #bfbfbf;
  opacity: 0.5;
}

.carouselRoot :global(.slick-dots li.slick-active button:before) {
  opacity: 1;
  background-color: #000;
}

.centerCard {
  background: #4744c9;
  z-index: 20;
  border: 1px solid #e2e2e2;
}

.nonCenterCard:hover {
  background: #4744c9;
  transform: scale(1.1);
  z-index: 15;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.nonCenterCard:hover h3,
.nonCenterCard:hover p {
  color: #fff;
}

.centerCard :global(.slick-dots li),
.nonCenterCard :global(.slick-dots li) {
  width: 20px !important;
}

