.thankYouRoot :global(.slick-prev::before),
.thankYouRoot :global(.slick-next::before) {
  content: "" !important;
  background-image: url("../../assets/Images/thankyouProofright.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100% !important;
  display: inline-block !important;
  width: 28px !important;
  height: 80px !important;
}

.thankYouRoot :global(.slick-next::before) {
  transform: rotate(180deg);
}

.thankYouRoot {
}

