.examRoot :global(.slick-prev::before),
.examRoot :global(.slick-next::before) {
  content: "" !important;
  background-image: url("../../assets/Images/sliderRight.webp");
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100% !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
}

.examRoot :global(.slick-prev::before) {
  transform: rotate(180deg);
}

.examRoot {
}

